@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customer Home Page</h2>
<h8>Please choose a one-time special pick up date in the Edit page </h8>
<br />
<h8>You can choose a Temporary Suspension of service in the Edit page</h8>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialPickUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempSuspendStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempSuspendEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ZipCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PickUpDay)
    </td>
    <th>
        @Html.DisplayFor(modelItem => item.SpecialPickUpDate)
    </th>
    <th>
        @Html.DisplayFor(modelItem => item.TempSuspendStart)
    </th>
    <th>
        @Html.DisplayFor(modelItem => item.TempSuspendEnd)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.EmailAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Balance)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
    </td>
</tr>
}

</table>
