@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "CustomerProfile";
}

<h2>Customer Profile</h2>


<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialPickUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialPickUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempSuspendStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempSuspendStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempSuspendEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempSuspendEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
    </dl>

    <p>
        @Html.ActionLink("Back to Home", "Index")
    </p>
</div>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
         #map {
             height: 100%;
         }
         /* Optional: Makes the sample page fill the window. */
         html, body {
             height: 100%;
             margin: 0;
             padding: 0;
         }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOu9xLef84WxypyuivHYsWJ9liTF9EKCc&callback=initMap"
            async defer></script>
</body>
</html>


