@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "CustomerProfile";
}

<h2>Customer Profile</h2>


<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialPickUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialPickUpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempSuspendStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempSuspendStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempSuspendEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempSuspendEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
    </dl>


</div>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 50%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    <h3>Customer Location</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var customerLocation = { lat: 43.0341871, lng: -87.9119293 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 15, center: customerLocation });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: customerLocation, map: map });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOu9xLef84WxypyuivHYsWJ9liTF9EKCc&callback=initMap">
    </script>
</body>
<p>
    @Html.ActionLink("Back to Home", "Index")
</p>


